body {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

h1, h2 {
    font-family: 'Indie Flower,' Helvetica;
    font-size: 30px;
}

.tag-line {
    font-variant: small-caps;
}

.sec1 {
    background-color: chocolate;
}

.sec2 {
    background-color: aqua;
}

header, section {
    padding: 1em;
}

a{
    text-decoration: none;
}

svg {
    height: 2em;
    fill: aqua;
    stroke: blue;
}